<h1>Rewards</h1>

<table class="table table-light table-striped table-hover table-rewards">
  <thead>
    <tr class="table-dark">
      <th>Title</th>
      <th>Price</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @rewards.each do |reward| %>
      <tr data-href="<%= reward_path(reward) %>" class="align-middle clickable-row">
        <td><%= reward.title %></td>
        <td><%= reward.price %></td>
        <td><%= link_to 'Show details', reward_path(reward), class:"btn btn-outline-primary" %></td>
        <% if current_employee.earned_points >= reward.price %>
          <td><%= link_to 'Buy reward', orders_path(reward: reward), :method => :post, class:"btn btn-outline-dark" %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

