<h1>Kudos</h1>

<table class="table table-light table-striped table-hover">
  <thead>
    <tr class="table-dark">
      <th>Title</th>
      <th>Content</th>
      <th>Giver</th>
      <th>Receiver</th>
      <th>Company Value</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @kudos.each do |kudo| %>
      <tr data-href="<%= kudo_path(kudo) %>" class="align-middle">
        <td><%= kudo.title %></td>
        <td><%= kudo.content %></td>
        <td><%= kudo.giver.email %></td>
        <td><%= kudo.receiver.email %></td>
        <td><%= kudo.company_value.title %></td>

        <% if kudo.giver == current_employee %>
          <td><%= link_to 'Edit', edit_kudo_path(kudo), class:"btn btn-outline-primary" %></td>
          <td><%= link_to 'Delete', kudo, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_employee.number_of_available_kudos > 0 %>
  <%= link_to 'New Kudo', new_kudo_path, class:"btn btn-outline-dark" %>
<% end %>
