<p>
  <strong>Title:</strong>
  <%= @kudo.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @kudo.content %>
</p>

<p>
  <strong>Giver:</strong>
  <%= @kudo.giver.email %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @kudo.receiver.email %>
</p>

<%# deleted this button to not show it to employee that is not a kudo giver %>
<%# <%= link_to 'Edit', edit_kudo_path(@kudo), class:"btn btn-outline-primary me-2" %>

<%= link_to 'Back', kudos_path, class:"btn btn-outline-secondary" %>
