<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container">
    <%= link_to 'Company Name', admin_pages_dashboard_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav admin-panel">
        <% if !admin_user_signed_in? %>
            <li class="nav-item"><%= link_to 'Admin Panel', new_admin_user_session_path, class:"nav-link" %></li>
        <% elsif admin_user_signed_in? %>
            <li class="nav-item"><%= link_to 'Kudos', admin_kudos_path, class:"nav-link" %></li>
            <li class="nav-item"><%= link_to 'Employees', admin_employees_path, class:"nav-link" %></li>
            <li class="nav-item"><%= link_to 'Sign out', destroy_admin_user_session_path, method: :delete, class:"nav-link" %></li>
        <% end %>
    </ul>
    <ul class="navbar-nav ">
      
    </ul>
    </div>
  </div>
</nav>