<h1>Rewards</h1>

<table class="table table-light table-striped table-hover">
  <thead>
    <tr class="table-dark">
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @rewards.each do |reward| %>
      <tr data-href="<%= admins_reward_path(reward) %>" class="align-middle">
        <td><%= reward.title %></td>
        <td><%= reward.description %></td>
        <td><%= reward.price %></td>
        <td><%= link_to 'Edit', edit_admins_reward_path(reward), class:"btn btn-outline-primary" %></td>
        <td><%= link_to 'Delete', admins_reward_path(reward), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Reward', new_admins_reward_path, class:"btn btn-outline-dark mb-3" %><br>
<%= link_to 'Back to Dashboard', admins_pages_dashboard_path, class:"btn btn-outline-secondary mb-2" %>
